.tuner-container {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* CSS for instrument switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 80px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--primary-text-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent-text-color);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(45px);
  -ms-transform: translateX(45px);
  transform: translateX(45px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* End switch CSS */

.tuner__instrument-select {
  display: flex;
  width: 40%;
  margin: 1.5em auto;
  justify-content: center;
  align-items: center;
}

.tuner__instrument-select h2 {
  color: var(--primary-text-color);
  text-shadow: var(--accent-drop-shadow);
  margin: 0 1em;
  font-size: 30px;
}

.tuner__tuning-select {
  display: flex;
  flex-direction: column;
}

.tuner__tuning-select label {
  font-family: var(--heading-font);
  color: var(--accent-text-color);
  padding-left: 8px;
}

.tuner__tuning-select select {
  width: 220px;
  height: 25px;
  background-color: var(--primary-text-color);
  color: var(--background-color);
  border: none;
  outline: none;
  font-family: var(--body-font);
  padding: 0 0.5em;
  font-size: 17px;
  border-radius: 5px;
}

.tuner-note {
  text-shadow: var(--accent-drop-shadow);
  cursor: pointer;
}

.tuner-note:hover {
  color: var(--accent-text-color);
}

.tuner h3 {
  text-align: center;
  margin-top: 8px;
  font-size: 28px;
  text-shadow: var(--accent-drop-shadow);
}

.tuner h4 {
  text-align: center;
  margin-bottom: 5px;
}

/* Guitar Tuner */

.guitar-headstock {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 630px;
  background-color: var(--secondary-background-color);
  padding: 0 1em;
  border-radius: 15px;
}

.guitar-headstock__image {
  margin: 0 2em;
}

.guitar-headstock__notes {
  display: flex;
  flex-direction: column;
  padding-top: 77px;
  font-size: 30px;
}

.guitar-headstock__notes h1:nth-of-type(2),
.guitar-headstock__notes h1:nth-of-type(3) {
  margin-top: 14px;
}

/* Bass Tuner */

.bass-headstock {
  display: flex;
  height: 630px;
  background-color: var(--secondary-background-color);
  padding: 2em 1.5em 0;
  border-radius: 15px;
}

.bass-notes {
  z-index: 999;
  transform: rotate(21deg);
  margin-right: 1em;
}

.bass-notes h1 {
  font-size: 50px;
  transform: rotate(-21deg);
  padding: 10px;
}

.bass-image {
  z-index: 50;
}
