@import url('https://fonts.googleapis.com/css2?family=Acme&family=Carter+One&display=swap');

:root {
  --body-font: 'Acme', sans-serif;
  --heading-font: 'Carter One', cursive;
  --background-color: #283149;
  --secondary-background-color: #404b69;
  --primary-text-color: #dbedf3;
  --accent-text-color: #f73859;
  --accent-drop-shadow: 0px 4px 4px var(--accent-text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
  font-family: var(--heading-font);
}

body {
  background-color: var(--background-color);
  color: var(--primary-text-color);
}

a {
  text-decoration: none;
}
