.navbar {
  display: flex;
  width: 97%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid var(--secondary-background-color);
  height: 70px;
  margin: 0 auto;
  padding: 0 10px;
}

.navbar__item {
  height: 75px;
  cursor: pointer;
  padding-top: 18px;
}

.navbar__item div {
  padding-bottom: 8px;
}

.navbar__item h4 {
  padding-top: 7px;
}

.navbar__item a,
.navbar__item:visited {
  color: var(--primary-text-color);
}

.navbar__item a:hover {
  text-shadow: var(--accent-drop-shadow);
}

.navbar__item--title h1 {
  font-size: 50px;
  font-weight: 400;
  font-family: var(--heading-font);
}

.navbar__item h2 {
  font-size: 28px;
}

.navbar__item--title a,
.navbar__item--title a:visited {
  color: var(--accent-text-color);
}

.navbar__item--user {
  color: var(--primary-text-color);
}

.navbar__item--user span {
  color: var(--accent-text-color);
}

.navbar__item--active {
  border-bottom: 5px solid var(--accent-text-color);
}