.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.auth input {
  width: 300px;
}

.auth__labels {
  display: flex;
  width: 70%;
  justify-content: center;
}
.auth__forms {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  height: 45vh;
}

.auth__title {
  color: var(--accent-text-color);
  font-size: 65px;
  margin-top: 20px;
  margin-bottom: 50px;
}

.auth__labels {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  margin: 0 auto 1em;
  font-size: 28px;
  padding: 0 2em;
}

.auth__label-or {
  color: var(--accent-text-color);
  padding-left: 1.2em;
}

.auth__forms div {
  width: 100%;
}

.auth__forms-login {
  border-right: 2px solid var(--accent-text-color);
  width: 100%;
}

.auth__forms-register {
  border-left: 2px solid var(--accent-text-color);
  width: 100%;
}

.form--login,
.form--register {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  justify-content: center;
}

.container--login section {
  width: 100%;
}

.form--login label,
.form--register label {
  font-family: var(--heading-font);
  color: var(--accent-text-color);
  padding-left: 10px;
  width: 300px;
  font-size: 20px;
  margin: 7px auto 0;
}

.form--login input,
.form--register input {
  height: 35px;
  width: 300px;
  background-color: var(--primary-text-color);
  border: none;
  outline: none;
  padding-left: 5px;
  font-family: var(--body-font);
  font-size: 18px;
  color: var(--secondary-background-color);
  border-radius: 5px;
  margin: 0 auto;
}

.form--register button,
.form--login button {
  border: none;
  outline: none;
  background-color: var(--secondary-background-color);
  font-family: var(--heading-font);
  font-size: 25px;
  color: var(--primary-text-color);
  width: 80px;
  border-radius: 7px;
  margin: 12px auto 0;
  cursor: pointer;
}

.form--register button:hover,
.form--login button:hover {
  background-color: var(--primary-text-color);
  color: var(--accent-text-color);
}
